.maar-cross-wrapper {
  float: right;
  border-radius: 50%;
  border: 1px solid #aaa;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  background: #eee;
  line-height: 0;
  cursor: pointer;
}

.maar-cross {
  transition: 200ms;
  transform: rotate(45deg);
  align-self: center;
  height: 15px;
  width: 15px;
  background: linear-gradient(to bottom, transparent 45%, #777 45%, #777 55%, transparent 55%), linear-gradient(to right, transparent 45%, #777 45%, #777 55%, transparent 55%);
  &:hover {
    transform: rotate(585deg);
  }
  &:active {
    transform: rotate(630deg);
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(800px);
  }
}

.maar-slide {
  animation: slideout 600ms cubic-bezier(0.53, -0.32, 0.19, 0.99);
  max-height: 500px;
}
