{namespace garoon.maar.soy}

/**
 * MarkAsRead button.
 */
{template .buttonDiv}
  <div class="maar-content-wrapper">
    <button class="maar-content" title="通知を既読にする">&times;</button>
  </div>
{/template}
